:root {
    --accent: #FF6347;
    --textColor: #555;
    --medium-gray: #CCC;
    --light-gray: #D0D0D0;
    --lighter-gray: #DADADA;
}

body {
    margin: 0px;
}


#faustUI {
    width: 100%;
    height: 100%;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#faustUI * {
    font-family: "CMU Serif";
}


.uiElement {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-style: none;
    border-color: var(--medium-gray);
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    align-items: stretch;
    justify-content: center;
    color: var(--accent);
}

.label {
    text-align: center;
    padding: 1px;
    color: var(--textColor);
    background-color: white;
}

.title {
    text-align: center;
    padding: 1px;
    font-size: 150%;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--textColor);
    background-color: white;
}

.vgroup {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hgroup {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.value {
    border-style: none;
    border-width: 1px;
    border-radius: 5px;
    border-color: var(--textColor);
    color: var(--textColor);
    width: 100%;
    text-align: center;
}

.bar {
    border-radius: 5px;
    background: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
}

.bar:hover {
    opacity: 1;
}

.cursor {
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: var(--accent);
    cursor: pointer;
}

.hslider {
    display: flex;
    flex-direction: column;
    border-style: none;
}

.hslider .bar {
    align-items: center;
    margin-top: 7px;
    margin-bottom: 7px;
    height: 10px;
}

.hslider .cursor {
    margin-left: -0px;
    margin-top: -1px;
}

.vslider {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.vslider .value {
    margin-top: 7px;
    margin-bottom: 7px;
}

.vslider .bar {
    width: 14px;
    min-height: 200px;
    height: 100%;
}

.vslider .cursor {
    margin-top: -12px;
    margin-left: -5px;
    background: var(--accent);
    cursor: pointer;
}

.knob {
    flex-direction: column;
    align-items: center;
}

.knob .value {
    margin-top: 5px;
    margin-bottom: 5px;
}

.knob .base {
    position: relative;
    border-radius: 50%;
    background: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
    justify-content: center;
    width: 100%;
    padding-top: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
}

.knob .base:hover {
    opacity: 1;
}

.knob .handle {
    position: absolute;
    width: 100%;
    height: 5px;
    cursor: pointer;
    top: 50%;
    margin-top: -5px;
    /*transform: rotate(-90deg);*/
}

.knob .handle .tip {
    background: var(--accent);
    width: 50%;
    height: 100%;
    border-radius: 3px;
}

.nentry {
    width: 100%;
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
    font-size: 100%;
    text-align: center;
}

/*.center {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}*/

.button {
    /*display: flex;*/
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    /*height: 10%;*/
    /*width: 120px;  */
    background-color: white;
    font-size: 100%;
    /*align-items: center;*/
    justify-content: center;
    flex: 1;
}

.button:active {
    background-color: var(--accent);
}

.hbargraph {
    margin-top: 7px;
    margin-bottom: 7px;
}

.hbargraph .barback {
    position: relative;
    border-style: none;
    border-radius: 5px;
    background: white;
    opacity: 0.7;
    outline: none;
    height: 14px;
}

.hbargraph .bartop {
    position: absolute;
    border-radius: 5px;
    background: var(--accent);
    outline: none;
    height: 14px;
    width: 50%;
}

.vbargraph {
    margin-bottom: 14px;
    height: 100%;
    min-height: 200px;
    align-items: center;
    justify-content: center;
}

.vbargraph .barback {
    position: relative;
    border-radius: 5px;
    background: white;
    opacity: 0.7;
    outline: none;
    width: 14px;
    height: 100%;
    margin: auto;
}

.vbargraph .bartop {
    position: absolute;
    border-radius: 5px;
    background: var(--accent);
    outline: none;
    width: 50%;
    bottom: 0;
}

.transferfunction {
    position: relative;
    align-items: center;
    border-radius: 5px;
    outline: none;
    height: 150px;
    width: 100%;
}

.transferfunction .tfback {
    /*position: relative;*/
    justify-content: center;
    border-radius: 5px;
    background: white;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    height: 100%;
    width: 100%;
}